@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

/* #868883, #476762, #ceaf9e, #263f3c, #dbdce0*/

body {
  /*margin: 20px;*/
  font-family: 'PT Sans', sans-serif;
  max-width: 1200px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  
  background-color: #476762;
}
.profile {
  width: 100px;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.75);
}
header h1 {
  color: #dbdce0;
  padding: 25px;
  
}

/*Navigation*/
nav {
background-color: #263f3c;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
  font-size: 1.2em;
}

nav li a {
  display: block;
  color: #dbdce0;
  padding: 5px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #ceaf9e;
  color: #000000;
}

/* Main */
main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;

  align-items: center;
}
h2 {
  text-align:center
  /*text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);*/
}
h2:after
{
    content:' ';
    display:block;
    border:1px solid #868883;
}

/*Card*/
.card {
  border: 1px solid #868883;
  margin-bottom: 5px;
  
}
.card h3 {
  background-color: #476762;
  color: #dbdce0;
  text-align:center;
  padding: 5px;
  margin-top: 0;
}
.card ul {
  list-style-type: none;
  padding: 10px;
}
.card li {
  padding: 1px;
}


/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  background-color: #476762;
}

footer p {
  color: #ffffff;
  margin: 3px;
}

footer img {
  height: 25px;
  padding-left: 15px;
}

#updated {
  color: yellow;
}

.highlight {
  color: yellow;
}
