/*@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");*/

/*<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">*/

/* Color Scheme: #868883, #476762, #ceaf9e, #263f3c, #dbdce0*/
:root{
  --font1: "PT Sans", sans-serif;
  --font2: 'Great Vibes', cursive;

  --color1: #476762;
  --color2: #dbdce0;
  --color3: #263f3c;
  --color4: #000000;
  --color5: #ceaf9e;
  --color6: #9db2c6;
  --color7: #868883;


}
body {
  font-family: var(--font1);
  max-width: 1200px;
  width: 100%;
  min-width: min-content; 
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: var(--color1);
}
.profile {
  width: 100px;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.75);
  justify-self: end;
}
header h1 {
  color: var(--color2);
  padding: 25px;
}

/*Navigation*/ /*FLEX*/
nav {
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
}

/* Hamburger Menu */
#menu {
	font-size: 1.5rem;
	/*border: 1px solid #263f3c;*/
	padding: 3px 7px 6px;
	background-color: var(--color3);
	color: var(--color2);
 	position: relative;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}

nav li a {
  display: none;
  color: var(--color2);
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

/* Hamburger Menu */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

/*Active Menu */
.active::before {
	content: "👀 ";
}
.active {
  background-color: var(--color4);
}


/* Change the link color on hover */
nav li a:hover {
  background-color: var(--color5);
  color: var(--color4);
}

/* Main */
main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;

  align-items: center;
}
/* Hero Image and Label */
.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
}
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  border: 1px solid var(--color7);
}
.herolabel {
	position: absolute;
	top: 10px;
	left: 10px;
	background: radial-gradient(var(--color2), var(--color6));
	border: 1px solid rgba(0,0,0,.75);
  opacity: 0.75;
  padding: 1rem;
}
.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 900;
	font-size: 2rem;
	font-family:var(--font2);
  color: var(--color4);
}

/* Main Content Below Hero Image */
h2 {
  text-align: center;
}
h2:after {
  content: " ";
  display: block;
  border: 1px solid var(--color7);
}

/*Card*/
.card {
  border: 1px solid var(--color7);
  margin-bottom: 5px;
}
.card h3 {
  background-color: #476762;
  color: #dbdce0;
  text-align: center;
  padding: 5px;
  margin-top: 0;
}
.card ul {
  list-style-type: none;
  padding: 10px;
}
.card li {
  padding: 1px;
}
.card p {
  padding-left: 1rem;
}


/* Google Map */
.google-map {
  padding-bottom: 50%;
  position: relative;
  
}
.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  background-color: #263f3c;
}

footer p {
  color: #ffffff;
  margin: 3px;
}

footer img {
  height: 25px;
  padding-left: 15px;
}

#updated {
  color: yellow;
}

.highlight {
  color: yellow;
}
